<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Champria - Overwatch Live Analysis</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Map</th>
                <td id="game-map">Unknown</td>
              </tr>
              <tr>
                <th scope="row">Stats</th>
                <td><span id="game-stats-mode" style="padding-right: 1em;">Cumulative</span><button id="toggle10" type="button" class="btn btn-primary">
                  Toggle / 10 min
                </button></td>
              </tr>
              <tr>
                <th scope="row">Map Time</th>
                <td id="game-map-time">0</td>
              </tr>
            </tbody>
          </table><br>
          <h3>Top &#x0394; Impact Score (every 5 seconds)</h2>
            <table
              id="table-delta-impact-scores"
              data-auto-refresh="true"
              data-auto-refresh-interval="1"
              data-show-auto-refresh="false"
              data-url="/data_table_delta"
            >
              <thead>
                <tr>
                  <th data-field="Player">Player</th>
                  <th data-field="Team">Team</th>
                  <th data-field="DeltaImpactScore">&#x0394; Impact Score</th>
                </tr>
              </thead>
            </table>
        </div>
        <div class="col-sm">
          <div>
            <canvas id="impactScoreChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        {%for teamNumber in range(0, 2)%}
          <div class="col-sm">
            <h3 id="team{{teamNumber+1}}-name">Team {{teamNumber+1}}</h2>
            <table
              id="table{{teamNumber+1}}"
              data-auto-refresh="true"
              data-auto-refresh-interval="1"
              data-show-auto-refresh="false"
              data-url="/data_table/{{teamNumber}}"
            >
              <thead>
                <tr>
                  {%for pt in points%}
                  <th data-field="{{pt}}">{{points[pt]}}</th>
                  {%endfor%}
                </tr>
              </thead>
            </table>
          </div>
        {%endfor%}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-auto-refresh.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
